
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Your campaigns</a>
      <ng-template ngbNavContent>

        <app-campaigntable (onCampaignChange)="onCampaignsChange($event)" [campaigns]="campaigns"></app-campaigntable>

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Your bonuses</a>

      <ng-template ngbNavContent>

        <div class="card">
          <p-table #dt [value]="bonuses" [rows]="5" [paginator]="true" [globalFilterFields]="['bonid','name','sum']"
           [rowHover]="true" dataKey="id"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
              <ng-template pTemplate="caption">
                  <div class="p-d-flex p-ai-center p-jc-between">
                      <h5 class="p-m-0">Manage bonuses</h5>
                      <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                      </span>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="bonid">Id <p-sortIcon field="bonid"></p-sortIcon></th>
                      <th pSortableColumn="name">Bonus name <p-sortIcon field="name"></p-sortIcon></th>
                      <th pSortableColumn="sum">Sum <p-sortIcon field="sum"></p-sortIcon></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-bonus>
                  <tr>
                      <td>{{bonus.id}}</td>
                      <td>{{bonus.name}}</td>
                      <td>{{bonus.sum | currency:'USD'}}
                  </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                  <div class="p-d-flex p-ai-center p-jc-between">
                      In total there are {{bonuses ? bonuses.length : 0 }} products.
                  </div>
              </ng-template>
          </p-table>
      </div>

      </ng-template>

    </li>

    <li [ngbNavItem]="3">
      <a ngbNavLink>Your profile</a>
      <ng-template ngbNavContent>


        <div>
          <h2><b>User information:</b></h2>
        </div>
        
        <div class="row">

          <div style="margin-right: 20px;">
            <h5><b>Username:</b></h5>
          </div>

          <div>
            <editable data-testid="sampleForm-btn"
            [openBindingEvent]="openBindingEvent"
            (save)="updateSingleField('name', 'userControl')"
            (cancel)="cancelSingleField('name', 'userControl')">
  
              <ng-template viewMode>{{name}}</ng-template>
        
              <ng-template editMode>
                <div class="d-flex align-items-baseline">
                   <div class="form-group">
                     <input class="form-control" data-testid="sampleForm-btn-edit" [formControl]="userControl" />
                    </div>
  
              <button class="btn btn-success" data-testid="sampleForm-save-btn" editableOnSave>Save</button>
              <button class="btn btn-secondary" data-testid="sampleForm-cancel-btn" editableOnCancel>Cancel</button>
  
            </div>
              </ng-template>
            </editable> 
          </div>
        </div>

        <div class="row">

          <div style="margin-right: 20px;">
            <h5><b>Email address:</b></h5>
          </div>

          <div>
            <editable data-testid="sampleForm-btn"
            [openBindingEvent]="openBindingEvent"
            (save)="updateSingleField('email', 'mailControl')"
            (cancel)="cancelSingleField('email', 'mailControl')">
  
              <ng-template viewMode>{{email}}</ng-template>
        
              <ng-template editMode>
                <div class="d-flex align-items-baseline">
                  <div class="form-group">
                <input class="form-control" data-testid="sampleForm-btn-edit" [formControl]="mailControl" />
              </div>
  
              <button class="btn btn-success" data-testid="sampleForm-save-btn" editableOnSave>Save</button>
              <button class="btn btn-secondary" data-testid="sampleForm-cancel-btn" editableOnCancel>Cancel</button>
  
            </div>
              </ng-template>
            </editable> 
          </div>

          </div>

          <div class="row">

            <div style="margin-right: 20px;">
              <h5><b>Roles:</b></h5>
            </div>  

            <div *ngFor = "let role of user.roles"  style="margin-left: 10px;">
              {{role.roleName}}
            </div>
            
          </div>


        
      

      </ng-template>
    </li>

  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  


