<div>

    <div>
        <input type="text">
    </div>

    <div>
        <textarea pInputTextarea [rows]="5" [cols]="30" maxlength="100">

        </textarea>
    </div>

    <div>
        <!--<p-dropdown [options]="" [(ngModel)]="" optionValue="code"></p-dropdown>-->
    </div>

    <div>
        <input type="text">
    </div>

    <div>
        <input type="date">
    </div>


    <app-img-input (onFileChange)="onFilesChange($event)"
     (onSavedPictureChange)="onImagesChange($event)"
     [images]="images"></app-img-input>

    <app-bonus-edit (onChange)="onBonusesChange($event)" [bonuses]="bonuses"></app-bonus-edit>

    <div>
        <tag-input [(ngModel)]='tags'>
            <tag-input-dropdown [autocompleteItems]='autoTags'>
            </tag-input-dropdown>
        </tag-input>
    </div>

</div>