
       <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <a [routerLink]="['campaign', 'new']">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"></button>
            </a>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedCampaigns || !selectedCampaigns.length"></button>
        </ng-template>
    </p-toolbar>

      <div class="card">
  
        <p-table #dt [value]="campaigns" [rows]="5" [paginator]="true" [globalFilterFields]="['id','name','topic','sumOfMoney','lastDateOfCampaign']" 
        [(selection)]="selectedCampaigns" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Manage campaigns</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="name">Campaign name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="topic">Topic <p-sortIcon field="topic"></p-sortIcon></th>
                    <th pSortableColumn="sumOfMoney">Donate goal <p-sortIcon field="sumOfMoney"></p-sortIcon></th>
                    <th pSortableColumn="lastDateOfCampaign">Last date of campaign <p-sortIcon field="lastDateOfCampaign"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-campaign>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="campaign"></p-tableCheckbox>
                    </td>
                    <td>{{campaign.name}}</td>
                    <td>{{campaign.topic.theme}}</td>
                    <td>{{campaign.sumOfMoney | currency:'USD'}}</td>
                    <td>{{campaign.lastDateOfCampaign}}</td>
                    <td>
                      <a [routerLink]="['campaign', campaign.name, 'edit']"> <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></button></a>
                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(campaign)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{campaigns ? campaigns.length : 0 }} campaigns.
                </div>
            </ng-template>
        </p-table>
    </div>
    