
<p-toast position="top-left"></p-toast>
<div class="container">

    <div class="container text-center">
        <div>
            <h1>{{name}}</h1>
        </div>

        <div>
            <div>
                <div>Average rating:</div>
                <p-rating stars=5 [(ngModel)]="avgRating" [cancel]="false" readonly=true></p-rating>
            </div>
            <div *ngIf="isLoggedIn">
                <div>Your personal rating:</div>
                <p-rating stars=5 [(ngModel)]="personalRating" [cancel]="false" [readonly]="isCampaignRated" (onRate)="rateCampaign($event)"></p-rating>
            </div>
        </div>
    </div>


    <div class="row col-12 col-sm-6 col-md-12">


        <div class="col-12 col-sm-6 col-md-8">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="500" height="315" [src]='videoLink' class="embed-responsive-item"></iframe>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">

            <div class="text-center" style="margin-top: 10px; margin-bottom: 10px;">
                <h3><b>Topic: {{topic.theme}} </b></h3>
            </div>

            <div>
                <p-progressBar showValue="false" [value]="progressRate"></p-progressBar>
            </div>

            <div class="">
                <div>
                    <h4 style="margin-top: 10px;"><b>Received: US$ {{sumOfFundedMoney}}</b></h4>
                    <h6><i>Pleged of US$ {{sumOfMoney}} goal</i></h6>
                </div>
            </div>

            <div class="">
                <div>
                    <h4 style="margin-top: 10px;"><b>Last day of campaign: {{lastDateOfCampaign}}</b></h4>
                </div>
            </div>

            <div>
                <div class="text-center"><h4><b>Description: </b></h4> </div>
                <div>
                    <h5>
                        <p>
                            {{description}}
                        </p>
                    </h5>
                </div>
            </div>
            <div *ngIf="isLoggedIn" class="text-center col-12 col-sm-6 col-md-12">
                <button (click)="openDonationDialog()" pButton type="button" label="Donate" class="p-button-lg" style="width: 200px;"></button>
            </div>
        </div>



    </div>

    <div class="col-12 col-sm-6 col-md-12"> 
        <div><h4><b>Tags:</b></h4></div>
        <tag-input name='tag' [(ngModel)]='tags' style="margin: 15px" 
        [identifyBy]="'id'" [displayBy]="'name'" class="row col-12 col-sm-6 col-md-6" [disable]="true">
        <ng-template let-item="item" name ="templ">
             {{ item.name }}
        </ng-template>
        </tag-input>
    </div>

    <div class="row col-12 col-sm-6 col-md-12" style="margin-bottom: 30px;">
        <div class="col-12 col-sm-6 col-md-8">
            <div><h4><b>Gallery:</b></h4></div>
            <app-galleria-view [images]="images"> </app-galleria-view>
        </div>

          

        <div class="col-12 col-sm-6 col-md-4">
            <div><h4><b>Bonuses:</b></h4></div>
            <p-carousel [value]="bonuses" [style]="{'max-width':'400px', 'margin-top':'2em'}" verticalViewPortHeight="352px" [numVisible]="1" [numScroll]="1">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template let-bonus pTemplate="item">
                    <div>
                        <div>
                            <div class="text-center">
                                <h4 class="">{{bonus.name}}</h4>
                                <h4 class="">${{bonus.sum}}</h4>
                                <h5 class="">{{bonus.description}}</h5>
                                <div *ngIf="isLoggedIn" class="car-buttons p-mt-5">
                                    <p-button (click)="purchaseBonus(bonus)" type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>

    </div>

</div>

<p-dialog [(visible)]="donationDialog" [style]="{width: '450px'}" header="Support this campaign!" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Your donation sum:</label>
                <p-inputNumber id="price" [(ngModel)]="donationSum" mode="currency" min='0' currency="USD" locale="en-US" required></p-inputNumber>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDonationDialog()"></button>
        <button pButton pRipple label="Donate" icon="pi pi-check" class="p-button-text" (click)="sendDonation()"></button>
    </ng-template>
</p-dialog>