<div class="container">

    <div class="container text-center">
        <div>
            <h1>{{name}}</h1>
        </div>

        <div>
            <div>
                <div>Average rating:</div>
                <p-rating stars=5 [(ngModel)]="avgRating" readonly=true></p-rating>
            </div>
            <div *ngIf="isLoggedIn">
                <div>Your personal rating:</div>
                <p-rating stars=5 [(ngModel)]="personalRating" readonly="" (onRate)="rateCampaign($event)"></p-rating>
            </div>
        </div>
    </div>


    <div class="row col-12 col-sm-6 col-md-12">


        <div class="col-12 col-sm-6 col-md-8">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="500" height="315" [src]='videoLink' class="embed-responsive-item"></iframe>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">

            <div class="text-center" style="margin-top: 10px; margin-bottom: 10px;">
                <h3><b>Topic: {{topic.theme}} </b></h3>
            </div>

            <div>
                <p-progressBar showValue="false" [value]="progressRate"></p-progressBar>
            </div>

            <div class="">
                <div>
                    <h4 style="margin-top: 10px;"><b>Received: US$ {{sumOfFundedMoney}}</b></h4>
                    <h6><i>Pleged of US$ {{sumOfMoney}} goal</i></h6>
                </div>
            </div>

            <div class="">
                <div>
                    <h4 style="margin-top: 10px;"><b>Last day of campaign: {{lastDateOfCampaign}}</b></h4>
                </div>
            </div>

            <div>
                <div class="text-center"><h4><b>Description: </b></h4> </div>
                <div>
                    <h5>
                        <p>
                            {{description}}
                        </p>
                    </h5>
                </div>
            </div>
            <div class="text-center col-12 col-sm-6 col-md-12">
                <button pButton type="button" label="Donate" class="p-button-lg" style="width: 200px;"></button>
            </div>
        </div>

    </div>

   <div> 
        <tag-input name='tagg' style="margin: 15px" 
        [identifyBy]="'id'" [displayBy]="'name'" class="row col-12 col-sm-6 col-md-6">
        <ng-template let-item="item" name ="templ">
             {{ item.name }}
        </ng-template>
            <tag-input-dropdown name ="dropdown" [autocompleteItems]='' [identifyBy]="'id'" [displayBy]="'name'" >
            </tag-input-dropdown>
        </tag-input>
    </div>

    <app-galleria-view [images]="images">
    </app-galleria-view>

    <!--bonuses-->


   <!-- <h5>Item Navigators without Thumbnails</h5>
<p-galleria [containerStyle]="{'max-width': '640px'}">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>-->

</div>