
<p-toast position="top-left"></p-toast>

<div class="container">
    <div class="row col-12 col-sm-6 col-md-12">

        <div class="col-12 col-sm-3 col-md-6">
            <h2>Most rated campaigns:</h2>

            <p-card *ngFor="let item of mostRatedCampaigns" header={{item.name}}
             [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin-top': '2em'}" class="text-center" styleClass="p-card-shadow">
             <b>{{item.lastUpdateDate}}</b>
                <p-rating [(ngModel)]="item.rating" [cancel]=false  [readonly]=true></p-rating>
                <p>{{item.description}}</p>
                <a href="campaign/{{item.name}}/view"><b>See more...</b></a>
            </p-card>

        </div>


        <div class="col-12 col-sm-3 col-md-6">
            <h2>Recently updated campaigns:</h2>

            <p-card *ngFor="let item of lastUpdatedCampaigns" header={{item.name}} 
            [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin-top': '2em'}" class="text-center" styleClass="p-card-shadow">
            <b>{{item.lastUpdateDate}}</b>
                <p-rating [(ngModel)]="item.rating" [cancel]=false  [readonly]=true></p-rating>
                <p>{{item.description}}</p>
                <a href="campaign/{{item.name}}/view"><b>See more...</b></a>
            </p-card>

        </div>


    </div>
</div>
